{% extends "base-template.html" %}
{% block title %}Ledger{% endblock %}

{% block body %}

<!-- NAVIGATION BAR -->

<navbar-gas active="nav-reports" photo-src="/static/media/person.png"></navbar-gas>

<!-- MAIN BODY -->

<div class="container" id="app">
    <!-- TITLE BUTTONS -->
    <div class="d-flex align-items-center mb-3">
        <span class="font-size-18 font-bold mr-1">Ledger</span>
    </div>

    <!-- TABLES -->
    <table v-for="account in ledgers" class="table table-striped table-borderless table-hover box-shadow-medium b-radius-15 mt-2 mb-5">
        <div hidden>[[bal = 0]]</div>
        <thead class="thead-dark font-size-18">
            <th>[[account.name]]</th>
            <th colspan="99">[[account.account_classification.root_account.code]]-[[account.account_classification.code]]-[[account.code]]</th>
        </thead>
        <thead>
            <th>Date</th>
            <th>Reference No.</th>
            <th>Description</th>
            <th>Debit</th>
            <th>Credit</th>
            <th>Balance</th>
        </thead>
        <tbody>
            <tr v-for="entry in account.journalEntries">
                <td>[[entry.journal.date]]</td>
                <td>[[entry.journal.code]]</td>
                <td class="font-italic font-regular">[[entry.journal.remarks]]</td>
                <template v-if="entry.normally == 'Debit'">
                    <td>₱[[formatPrice(entry.amount)]]</td>
                    <td></td>
                </template>
                <template v-else>
                    <td></td>
                    <td>₱[[formatPrice(entry.amount)]]</td>
                </template>
                <template v-if="entry.child_account.account_classification.root_account.normally == entry.normally">
                    <div hidden>[[bal = bal + entry.amount]]</div>
                    <td>[[bal]]</td>
                </template>
                <template v-else>
                    <div hidden>[[bal = bal - entry.amount]]</div>
                    <td>[[bal]]</td>
                </template>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}

{% block scripts %}

<script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: "#app",

        data: {
            config: {
                headers: {
                    "X-CSRFToken": getCookie('csrftoken')
                }
            }, 
            bal: 0.0,
            ledgers: [],
        },

        methods: {
            loadData(){
                axios.get('/api/ledger/')
                .then(res=>{
                    this.ledgers=res.data
                    console.log(res.data)
                })
                .catch(err=>console.log(err))
            },
            formatPrice(value) {
                if (this.toggle){
                    return value
                } else {
                    let val = (value/1).toFixed(2).replace(',', '.')
                    return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
                }
            },
            test(value){
                return value
            }
        },
        mounted(){
            this.loadData()
        }
    })
</script>

{% endblock %}